# Ignore Git files
.git
.gitignore

# Logs
log/*
!log/.keep

# Temp and cache files
tmp/*
!tmp/.keep

# PID files
*.pid
*.seed
*.dump

# Byebug / Pry history
.byebug_history
.pry_history

# Bundler & gems cache
.bundle
vendor/bundle
node_modules

# Coverage / test / artifacts
coverage
spec/reports
test/tmp
test/version_tmp
spec/tmp

# Uploaded files (if stored locally instead of S3)
public/system
public/uploads

# Ignore editor/IDE/project files
*.swp
*~
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Ignore Docker files except Dockerfile & docker-compose
docker-c
